/*
    Start of Global Styles!
*/

:root {
    /*Light Theme Colors*/
    --light-surface-container: #EDEDF4;
    --light-on-surface: #191C20;
    --light-primary: #415F91;
    --light-on-primary: #FFFFFF;
    --light-primaryContainer: #D6E3FF;
    --light-onPrimaryContainer: #284777;
    --light-surfaceVariant: #E0E2EC;
    --light-onSurfaceVariant: #44474E;
    --light-tertiary: #705575;
    --light-box-color: #F0F0F7;
    --light-on-box-color: #2E3036;
    --light-inverseSurface: #2E3036;
    --light-inverseOnSurface: #F0F0F7;
    /*Dark Theme Colors*/
    --dark-surfaceContainerLow: #191C20;
    --dark-onSurface: #E2E2E9;
    --dark-onSurfaceVariant: #C4C6D0;
    --dark-primary: #AAC7FF;
    --dark-onPrimary: #0A305F;
    --dark-tertiary: #DDBCE0;
    --dark-surfaceVariant: #44474E;
    --dark-inverseSurface: #E2E2E9;
    --dark-inverseOnSurface: #2E3036;
    --dark-primaryContainer: #284777;
    --dark-onPrimaryContainer: #D6E3FF;
    /*Shadows*/
    --light-shadow-1: 0px 1px 2px 0px rgba(0, 0, 0, 0.30), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
    --light-shadow-2: 0px 1px 2px 0px rgba(0, 0, 0, 0.15), 0px 2px 6px 2px rgba(0, 0, 0, 0.05);
    --light-shadow-3: 0px 4px 8px 3px rgba(0, 0, 0, 0.10), 0px 1px 3px 0px rgba(0, 0, 0, 0.06);
    --light-shadow-4: 0px 6px 10px 4px rgba(0, 0, 0, 0.05), 0px 2px 3px 0px rgba(0, 0, 0, 0.04);
    --light-shadow-5: 0px 8px 12px 6px rgba(0, 0, 0, 0.10), 0px 4px 4px 0px rgba(0, 0, 0, 0.06);
}

* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
body {
    font-family: "Montserrat", sans-serif;
}

body[data-theme="light"] {
    background-color: var(--light-surfaceVariant);
}

body[data-theme="dark"] {
    background-color: var(--dark-surfaceContainerLow);
}

.containerFlex {
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
    max-width: 720px;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /*display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 10px;
    justify-content: center;
    align-items: center;*/
}

@media (min-width: 1024px) {
    .container {
        padding-left: 96px;
        padding-right: 96px;
        max-width: 1024px;
        grid-template-columns: repeat(12, 1fr);
        column-gap: 24px;
    }
}
@media (min-width: 1280px) {
    .container {
        padding-left: 96px;
        padding-right: 96px;
        max-width: 1280px;
        grid-template-columns: repeat(12, 1fr);
        column-gap: 24px;
    }
}
/*End of Global Rules*/
.navBar {
    padding: 20px 16px;
    display: flex;
    align-items: center;
    background-color: var(--light-surface-container);
    box-shadow: var(--light-shadow-1);
    font-weight: bold;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    transition: all .3s;
}
body[data-theme="dark"] .navBar {
    background-color: var(--dark-surfaceVariant);
}
body[data-theme="dark"] .navBar p {
    color: var(--dark-onSurfaceVariant)
}
body[data-theme="dark"] .navBar i {
    color: var(--dark-primary)
}
body[data-theme="dark"] .navBar img {
    border-color: var(--dark-primary);
}
.navBar img {
    margin-right: 8px;
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid var(--light-primary);
    box-shadow: var(--light-shadow-1);
}
.navBar p {
    margin: 0;
    margin-right: auto;
    font-size: 24px;
}
.navBar .icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navBar .icons i {
    font-size: 24px;
    margin-left: 8px;
    color: var(--light-primary);
}
.menu {
    margin-right: 8px;
}
.mode {
    border: 2px solid var(--light-primary);
    border-radius: 50%;
    box-shadow: var(--light-shadow-1);
    transition: all .3s;
}
.fa-sun {
    padding: 5px;
}
.fa-moon {
    padding: 5px 8px;
} 
.sideBar {
    position: relative;
    margin-top: -60px;
    display: none;
    flex-direction: column;
    z-index: 5;
    background-color: var(--light-surface-container);
    width: 50%;
    height: 100vh;
    box-shadow: var(--light-shadow-2);
    transition: all .3s;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    padding: 16px;
}

.showing {
    animation-name: showing;
    animation-duration: .3s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

.hiding {
    animation-name: disappear;
    animation-duration: .3s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}
@keyframes showing {
    0% {
        transform: translateX(-80px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes disappear {
    0% {
        transform: translateX(0px);
        opacity: 1;
    }
    100% {
        transform: translateX(-80px);
        opacity: 0;
    }
}
.sideBar img {
    margin-right: 8px;
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid var(--light-primary);
    box-shadow: var(--light-shadow-1);
}
.header {
    display: flex;
    margin-bottom: 8px;
}
.header p {
    font-weight: bold;
}
.sideBar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.sideBar ul li {
    margin-top: 24px;
}
.sideBar a {
    text-decoration: none;
    font-size: 24px;
    color: var(--light-primary);
    transition: all .3s;
    font-weight: bold;
}
.sideBar a:hover {
    padding: 12px;
}

body[data-theme="dark"] .sideBar {
    background-color: var(--dark-surfaceVariant);
}
body[data-theme="dark"] .sideBar img {
    border-color: var(--dark-primary);
}
body[data-theme="dark"] .sideBar .header p {
    color: var(--dark-onSurfaceVariant)
}
body[data-theme="dark"] a {
    color: var(--dark-primary);
}
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.heroImg {
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid var(--light-primary);
    box-shadow: var(--light-shadow-1);
    margin-bottom: 36px;
}
.heroGreetings {
    margin: 0;
    margin-top: 16px;
    margin-bottom: 8px;
    font-size: 32px;
    font-weight: 600;
    color: var(--light-primary);
    text-shadow: 0 0 25px var(--light-primary);
}
.heroGreetings::after {
    content: "|";
    z-index: 2;
    width: 24px;
    height: 36px;
    animation-name: blink;
    animation-duration: .5s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    transition: all .3s ease;
}
@keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}
.hero .heroP {
    line-height: 24px;
    margin: 0;
    text-align: center;
    font-size: 16px;
    color: var(--light-on-surface);
    margin-bottom: 40px;
    font-weight: 500;
    animation-name: fading;
    animation-duration: .3s;
    animation-delay: .5s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    transition: all .3s ease;
    opacity: 0;
}
@keyframes fading {
    0% {
        opacity: 0;
        transform: scale(0.90) translateY(30px);
    }
    25% {
        opacity: 0.25;
        transform: scale(0.92) translateY(20px);
    }
    50% {
        opacity: 0.50;
        transform: scale(0.95) translateY(10px);
    }
    75% {
        opacity: 0.75;
        transform: scale(0.98) translateY(5px);
    }
    100% {
        opacity: 1;
        transform: scale(1) translateY(0px);
    }
}
.heroButtons {
    display: flex;
    column-gap: 8px;
    align-items: center;
}
.heroButtons a {
    animation-name: bounce;
    animation-duration: .4s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    opacity: 0;
}
.heroButtons a:nth-child(1) {
    animation-delay: .2s;
}
.heroButtons a:nth-child(2) {
    animation-delay: .4s;
}
@keyframes bounce {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}
.heroButtons .main {
    text-decoration: none;
    text-align: center;
    font-weight: 600;
    width: 111px;
    padding: 18px 24px;
    color: var(--light-on-primary);
    background-color: var(--light-primary);
    border-radius: 28px;
    box-shadow: var(--light-shadow-1);
}
.heroButtons .secondary {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-align: center;
    font-weight: 600;
    width: 111px;
    padding: 18px 24px;
    color: var(--light-onPrimaryContainer);
    background-color: #FFFFFF;
    border: 3px solid var(--light-primaryContainer);
    border-radius: 28px;
    box-shadow: var(--light-shadow-1);
} 