/*
    Start of Global Styles!
*/
:root {
    /*Light Theme Colors*/
    --light-surface-container: #EDEDF4;
    --light-on-surface: #191C20;
    --light-primary: #415F91;
    --light-on-primary: #FFFFFF;
    --light-primaryContainer: #D6E3FF;
    --light-onPrimaryContainer: #284777;
    --light-surfaceVariant: #E0E2EC;
    --light-onSurfaceVariant: #44474E;
    --light-tertiary: #705575;
    --light-box-color: #F0F0F7;
    --light-on-box-color: #2E3036;
    --light-inverseSurface: #2E3036;
    --light-inverseOnSurface: #F0F0F7;
    /*Dark Theme Colors*/
    --dark-surfaceContainerLow: #191C20;
    --dark-onSurface: #E2E2E9;
    --dark-onSurfaceVariant: #C4C6D0;
    --dark-primary: #AAC7FF;
    --dark-onPrimary: #0A305F;
    --dark-tertiary: #DDBCE0;
    --dark-surfaceVariant: #44474E;
    --dark-inverseSurface: #E2E2E9;
    --dark-inverseOnSurface: #2E3036;
    --dark-primaryContainer: #284777;
    --dark-onPrimaryContainer: #D6E3FF;
    /*Shadows*/
    --light-shadow-1: 0px 1px 2px 0px rgba(0, 0, 0, 0.30), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
    --light-shadow-2: 0px 1px 2px 0px rgba(0, 0, 0, 0.15), 0px 2px 6px 2px rgba(0, 0, 0, 0.05);
    --light-shadow-3: 0px 4px 8px 3px rgba(0, 0, 0, 0.10), 0px 1px 3px 0px rgba(0, 0, 0, 0.06);
    --light-shadow-4: 0px 6px 10px 4px rgba(0, 0, 0, 0.05), 0px 2px 3px 0px rgba(0, 0, 0, 0.04);
    --light-shadow-5: 0px 8px 12px 6px rgba(0, 0, 0, 0.10), 0px 4px 4px 0px rgba(0, 0, 0, 0.06);
}

*, *::before, *::after {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}
body {
    font-family: "Montserrat", sans-serif;
    transition: all .3s;
    
    overflow-x: hidden;
}

body[data-theme="light"] {
    background-color: var(--light-surfaceVariant);
}

body[data-theme="dark"] {
    background-color: var(--dark-surfaceContainerLow);
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

/*.container {
    padding: 5rem 1rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 720px;
    width: 100%;
    min-height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}*/

.container {
    padding: 5rem 1.5rem;
    position: relative;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.containerGrid {
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    gap: 32px;
    margin-top: 16px;
}
@media (max-width: 720px) {
    .containerGrid {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0;
    }
}
/*End of Global Rules*/
/*NabBar Starts*/
.navBar {
    position: sticky;
    top: 0;
    z-index: 2;
    padding: 0 36px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    background-color: var(--light-surface-container);
    box-shadow: var(--light-shadow-1);
    font-weight: bold;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    transition: all .3s;
}
.navBar .navLinks {
    display: flex;
    gap: 8px;
    align-items: center;
    margin-right: 8px;
}
nav > a {
    transition: all .3s ease;
}
.navBar .navLinks a {
    position: relative;
    text-decoration: none;
    font-size: 18px;
    color: var(--light-inverseSurface);
    transition: all .3s;
    padding: 1.25rem 0;
}
body[data-theme="dark"] .navBar .navLinks a {
    color: var(--dark-inverseSurface)
}
body[data-theme="dark"] .navBar .navLinks a:hover {
    color: var(--dark-primary);
    text-shadow: 0 0 15px var(--dark-primary);
    outline: none;
}
.navBar .navLinks a:hover {
    color: var(--light-primary);
    text-shadow: 0 0 15px var(--light-primary);
    outline: none;
}
.navBar .navLinks a:active {
    color: var(--light-primary);
    text-shadow: 0 0 15px var(--light-primary);
    outline: none;
}
body[data-theme="dark"] .navBar .navLinks a:active {
    color: var(--dark-primary);
    text-shadow: 0 0 15px var(--dark-primary);
    outline: none;
}
@media (min-width: 1024px) {
    .navBar .navLinks a {
        font-size: 24px;
    }
}

body[data-theme="dark"] .navBar {
    background-color: var(--dark-surfaceVariant);
}

body[data-theme="dark"] .navBar a {
    color: var(--dark-onSurfaceVariant)
}

body[data-theme="dark"] .navBar i {
    color: var(--dark-primary)
}

body[data-theme="dark"] .navBar img {
    border-color: var(--dark-primary);
}

.navBar img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid var(--light-primary);
    box-shadow: var(--light-shadow-1);
}

.navBar a {
    margin: 0;
    margin-right: auto;
    font-size: 24px;
    text-decoration: none;
    color: var(---light-onSurfaceVariant);
}
.navBar a:hover {
    cursor: pointer;
    text-shadow: 0 0 15px var(--light-primary);
    color: var(--light-primary);
}
@media (max-width: 720px) {
    .navBar {
        padding: 0 1rem;
    }
    .navBar .navLinks {
        margin-right: 0;
    }
    .navBar > a {
        display: none;
    }
}
.mode {
    color: var(--light-primary);
    cursor: pointer;
    font-size: 24px;
    border: 2px solid var(--light-primary);
    border-radius: 50%;
    box-shadow: var(--light-shadow-1);
    transition: all .3s;
}

.fa-sun {
    padding: 5px;
}

.fa-moon {
    padding: 5px 8px;
}


.showing {
    opacity: 1;
    animation-name: showing;
    animation-duration: .3s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

.hiding {
    opacity: 0;
    animation-name: disappear;
    animation-duration: .3s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

@keyframes showing {
    0% {
        transform: translateX(-80px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes disappear {
    0% {
        transform: translateX(0px);
        opacity: 1;
    }

    100% {
        transform: translateX(-80px);
        opacity: 0;
    }
}

/*NabBar End*/
/*Hero Section Starts*/
.hero-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.hero {
    padding: 0 2rem;
    padding-top: 1.5rem;
    position: relative;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.heroImg {
    max-width: 320px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid var(--light-primary);
    box-shadow: var(--light-shadow-5);
    margin-bottom: 36px;
}
.heroGreetings {
    margin: 0;
    margin-top: 16px;
    margin-bottom: 8px;
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    color: var(--light-primary);
    text-shadow: 0 0 25px var(--light-primary);
}

.heroGreetings::after {
    content: "|";
    z-index: 2;
    max-width: 24px;
    height: 36px;
    animation-name: blink;
    animation-duration: .5s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    transition: all .3s ease;
}

@keyframes blink {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

.hero .heroP {
    line-height: 24px;
    margin: 0;
    text-align: center;
    font-size: 16px;
    color: var(--light-on-surface);
    margin-bottom: 40px;
    font-weight: 500;
    animation-name: fading;
    animation-duration: .3s;
    animation-delay: .5s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    transition: all .3s ease;
    opacity: 0;
}

@keyframes fading {
    0% {
        opacity: 0;
        transform: scale(0.90) translateY(20px);
    }

    25% {
        opacity: 0.25;
        transform: scale(0.92) translateY(15px);
    }

    50% {
        opacity: 0.50;
        transform: scale(0.95) translateY(10px);
    }

    75% {
        opacity: 0.75;
        transform: scale(0.98) translateY(5px);
    }

    100% {
        opacity: 1;
        transform: scale(1) translateY(0px);
    }
}

.heroButtons {
    display: flex;
    column-gap: 8px;
    align-items: center;
}

.heroButtons a {
    animation-name: bounce;
    animation-duration: .4s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    opacity: 0;
    transition: all .3s;
}

.heroButtons a:nth-child(1) {
    animation-delay: .2s;
}

.heroButtons a:nth-child(2) {
    animation-delay: .4s;
}

@keyframes bounce {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.heroButtons .main {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-align: center;
    font-weight: 600;
    width: 111px;
    padding: 18px 24px;
    color: var(--light-on-primary);
    background-color: var(--light-primary);
    border-radius: 28px;
    box-shadow: var(--light-shadow-1);
    cursor: pointer;
}

.heroButtons .secondary {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-align: center;
    font-weight: 600;
    width: 111px;
    padding: 16px 24px;
    color: var(--light-onPrimaryContainer);
    background-color: #FFFFFF;
    border: 3px solid var(--light-primaryContainer);
    border-radius: 28px;
    box-shadow: var(--light-shadow-1);
    cursor: pointer;
}

.heroButtons a:hover {
    box-shadow: var(--light-shadow-3);
}

.heroButtons a:focus {
    box-shadow: var(--light-shadow-2);
}

body[data-theme="dark"] {
    .heroImg {
        border-color: var(--dark-primary);
    }

    .heroGreetings {
        color: var(--dark-primary);
        text-shadow: 0 0 25px var(--dark-primary);
    }

    .heroP {
        color: var(--dark-onSurfaceVariant)
    }

    .heroButtons a:nth-child(1) {
        background: var(--dark-primary);
        color: var(--dark-onPrimary);
    }

    .heroButtons a:nth-child(2) {
        border: none;
        padding: 18px 24px;
        background: var(--dark-primaryContainer);
        color: var(--dark-onPrimaryContainer);
    }
}

/*Hero Section End*/

/*About Section Starts*/
.specialDisplay {
    color: var(--light-onSurfaceVariant);
    margin-bottom: 16px;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    text-shadow: 0 0 25px var(--light-primary);
    position: relative;
}


.specialHeader {
    margin-bottom: 16px;
    color: var(--light-tertiary);
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}
.specialDisplay::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -10px;
  width: 50px;
  height: 4px;
  background: var(--light-primary);
  border-radius: 999px;
}
body[data-theme="dark"] .specialDisplay::after {
    background: var(--dark-primary);
}
.AboutContext {
    max-width: 520px;
}
.StartAbout {
    margin-top: 36px;
    margin-bottom: 16px;
    line-height: 44px;
}
.StartAbout h2 {
    font-size: 24px;
}
.About p {
    margin-bottom: 16px;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-align: center;
    font-weight: 600;
    max-width: 150px;
    padding: 18px 24px;
    color: var(--light-on-primary);
    background-color: var(--light-primary);
    border-radius: 28px;
    box-shadow: var(--light-shadow-1);
    border: none;
    cursor: pointer;
}

.secondary {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-align: center;
    font-weight: 600;
    min-width: 111px;
    padding: 16px 24px;
    color: var(--light-onPrimaryContainer);
    background-color: #FFFFFF;
    border: 3px solid var(--light-primaryContainer);
    border-radius: 28px;
    box-shadow: var(--light-shadow-1);
    cursor: pointer;
}

.skills {
    max-width: 420px;
    margin-top: 32px;
    display: flex;
    flex: 1;
    gap: 1rem;
    flex-direction: column;
}

.skills h2 {
    margin-bottom: 16px;
    font-size: 24px;
    line-height: 44px;
}

.skills .skillList {
    display: flex;
    flex-wrap: wrap;
    gap: 1ch;
}

.skillList span {
    background: var(--light-box-color);
    display: inline-block;
    border-radius: 8px;
    padding: 10px 16px;
    font-weight: 600;
}

body[data-theme="dark"] {
    .specialDisplay {
        color: var(--dark-onSurface);
        text-shadow: 0 0 25px var(--dark-primary);
    }

    .main {
        background: var(--dark-primary);
        color: var(--dark-onPrimary);
    }

    .About h2 {
        color: var(--dark-onSurface);
    }

    .About p {
        color: var(--dark-onSurface);
    }

    .specialHeader {
        color: var(--dark-tertiary);
    }

    .skillList span {
        background-color: var(--dark-surfaceVariant);
        color: var(--dark-onSurfaceVariant);
    }
}

/*About Section Ends*/
/*Projects Section Starts*/
.project-card {
    background: var(--light-inverseSurface);
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
    border-radius: 8px;
    box-shadow: var(--light-shadow-3);
    max-width: 375px;
}
.project-card img.projectImg {
    max-width: 375px;
    object-fit: cover;
}
@media (max-width: 768px) {
    .project-card {
        max-width: 320px;
    }
    .project-card img.projectImg {
        max-width: 320px;
    }
}

.project-card .top {
    display: flex;
    align-items: center;
    margin: 8px;
}

.project-card .top .topFlex {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.project-card .top {
    color: var(--light-inverseOnSurface);
}

.project-card .top .img-cp {
    max-width: 40px;
    margin-right: 8px;
    margin-left: 8px;
}

.project-card .top .img-cp img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid var(--light-primary);
    box-shadow: var(--light-shadow-1);
}

.projectImg {
    margin-bottom: 8px;
}

.project-card .bottom {
    padding: 16px;
    color: white;
    display: flex;
    flex-direction: column;
}

.buttonsFlex {
    margin-top: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

body[data-theme="dark"] {
    .project-card {
        background: var(--dark-inverseSurface);
    }

    .project-card .top,
    .project-card .bottom {
        color: var(--dark-inverseOnSurface)
    }

    .project-card .top .img-cp img {
        border-color: var(--dark-primary)
    }

    .project-card .bottom .secondary {
        background: var(--dark-primaryContainer);
        color: var(--dark-onPrimaryContainer);
    }
}

/*Projects Section Ends*/
/*Contact Starts*/
.Contact form {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    align-items: center;
}

.Contact form input,
textarea {
    background-color: var(--light-primaryContainer);
    outline: none;
    border: none;
    padding: 12px 12px 12px 16px;
    box-shadow: var(--light-shadow-2);
    border-radius: 8px;
    min-width: 300px;
    width: 100%;
    margin-bottom: 16px;
    transition: all .3s;
}

.Contact form input::placeholder,
textarea::placeholder {
    color: var(--light-onPrimaryContainer);
}

.Contact form textarea {
    border: 1px solid var(--light-on-box-color);
    min-height: 207px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.Contact form button {
    min-width: 151px;
    margin-top: 16px;
    cursor: pointer;
    transition: all .3s;
}
.Contact form button:hover {
    box-shadow: var(--light-shadow-3);
}
.Contact form button i {
    margin-right: 8px;
    color: var(--light-onPrimary);
}

body[theme="dark"] {
    .Contact form button i {
        color: var(--dark-onPrimaryContainer);
    }
}

.Contact form input:focus,
textarea:focus {
    box-shadow: var(--light-shadow-4);
}
@media (min-width: 850px) {
    .Contact form input, textarea {
        min-width: 750px;
    }
}
/*Contact Ends*/
/*Footer Starts*/
footer {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    border-top: 1px solid var(--light-onSurfaceVariant);
    padding: .5rem 1rem;
    max-width: 900px;
}
.Footer {
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width: 768px) {
    footer {
        flex-wrap: wrap;
    }
}
section.footerStart h1 {
    margin-bottom: 8px;
}
section.footerStart {
    display: flex;
    flex-direction: column;
}
section.footerLinks {
    display: flex;
    flex-direction: column;
}
section.footerStart h1, section.footerLinks h1, section.footerEnd h1 {
    font-size: 24px;
}
.socialLinksItems {
    display: flex;
    gap: 16px;
    margin-top: 8px;
}
section.footerLinks a i {
    color: #000;
    font-size: 30px;
    transition: all .3s ease;
}
section.footerLinks a i:hover {
    transform: scale(1.1);
}
section.footerLinks a i:active {
    transform: scale(.98);
}
section.footerStart h1,
section.footerStart p,
section.footerEnd h1,
section.footerEnd p {
    color: var(--light-onSurfaceVariant);
}

section.footerEnd a {
    text-decoration: none;
}
body[data-theme="dark"] {
    footer {
        border-top: 1px solid var(--dark-onSurfaceVariant);
    }

    section.footerStart h1,
    section.footerStart p,
    section.footerEnd h1,
    section.footerEnd p,
    section.footerLinks h1 {
        color: var(--dark-onSurfaceVariant);
    }

    section.footerLinks a i {
        color: var(--dark-onSurfaceVariant);
    }
}

/*Footer End*/